# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hilel\django3-ecommerce-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
